@import 'components/normalize';
@import 'components/variables';
@import 'components/elements';

*{
    box-sizing: border-box;
    font-family:'Poppins';
}

.main-section{
    //base
    @include flexbox(column,center,stretch);
    height:100vh;
    width:100%;
    background: #fafbfc;
    padding:1rem;
    overflow: hidden;
    .hello-container{
        @include flexbox(column,flex-start,stretch);
        flex:3 0 auto;
        .tab-container{
            @include flexbox(row,space-between,center);
            width:5rem;
            height:2rem;
            padding:0 .5rem;
            margin:0 auto;
            margin-top:1rem;
            .tab-item{
                $diametro:.75rem;
                width:$diametro;
                height:$diametro;
                border-radius:50%;
                background:$gris-light;
                transition:all 200ms ease;
            }
            .tab-active{
                background:$gris-dark !important;
            }
        }
        .hello-carrusel{
            flex:1 0 11rem;
            margin:0 16px;
            margin-bottom:.5rem;
            display:grid;
            grid-template-columns: repeat(3,100%);
            grid-template-rows: 100%;
            grid-gap: 16px;
            overflow:hidden;
            scroll-behavior: smooth;
            border-radius:12px;
            @include shadow();
            max-width:550px;
            .hello-group{
                @include flexbox(column,space-around,stretch);
                background: $durazno;
                text-align: center;
                padding:.5rem;
                border-radius:12px;
                .image-hello{
                    margin-top: .5rem;
                    max-width:100%;
                    height:60%;
                    max-height:175px;
                    object-fit:contain;
                }
                .hello-text{
                    color:$gris-lighter;
                    padding:0 .25rem;
                }
            }
        }
    }
    .hello-buttons{
        @include flexbox(column,flex-end,stretch);
        flex:1 0 3rem;
        .hello-btns{
            @include flexbox(row,center,center);
            padding:1rem;
            .btn-cta{
                @include button($gris-lighter,$azul,$azul-dark);
                flex:1 0 auto;
                margin:0 .5rem;
                max-width:320px;
                padding-left:1.25rem;
                padding-right:1.25rem;
            }
        }
        .login-buttons{
            height:50%;
            flex:1 0 50%;
            @include flexbox(row,center,center)
        }
    }
    .hello-login{
        @include flexbox(column,center,stretch);
        height:100%;
        text-align: center;
        .login-title{
            font-size:20px;
            color:$gris-darker;
            font-weight:bold;
            margin-top:.5rem;
        }
        .form-login{
            .form-input{
                @include input();
                background:$gris-lighter;
                margin-bottom:.75rem;
                border:1px solid $gris-light;
                position:relative;
                top:0;
                transition:all 100ms ease;
                color:$gris-dark;
                &:focus{
                    box-shadow:0 4px 0 $gris-light;
                    top:-4px;
                }
                &::placeholder{
                    color:$gris-light;
                }
            }
            .form-submit{
                @include button($gris-lighter,$verde,$verde-dark);
                padding-left:3rem;
                padding-right:3rem;
            }
            .login-footer{
                @include flexbox(row,center,stretch);
                flex-wrap: wrap;
                margin-bottom:1.5rem;
                .footer-item{
                    font-size: 14px;
                    text-decoration:none;
                    color:$gris;
                    margin:0 .50rem;
                    margin-bottom:.50rem;
                    &:hover{
                        color:$gris-dark;
                    }
                    @include flexbox(row,center,center);
                    input{
                        margin-right:.25rem;
                    }
                }
            }
        }
        .buttonsSignup{
            padding:1.5rem 0;
            .signup{
                @include button($gris-lighter,$durazno,$durazno-dark);
            }
            .google,.facebook{
                @include button($gris-lighter,$gris-lighter,$gris-light);
            }
            .signup-icon{
                width:16px;
                height:16px;
                object-fit:contain;
            }
        }
    }
    //acostado
    @media (orientation:landscape) and (max-width:549px){
        .hello-container{
            flex:1 0 auto;
            .tab-container{
                @include flexbox(row,space-between,center);
                height:1.5rem;
                margin:0 auto;
                margin-top: 0;
            }
            .hello-carrusel{
                margin-bottom:0;
            }
        }
        .hello-buttons{
            flex:0 0 auto;
            .hello-btns{
                padding:.5rem 1rem;
                .btn-hello{
                    padding-left:1.50rem;
                    padding-right:1.50rem;
                }
                .btn-cta{
                    padding-left:1.50rem;
                    padding-right:1.50rem;
                }
            }
        }
    }

    //dispositivos medianos
    @media (min-width:map-get($bp , sm )){
        .hello-container{
            @include flexbox(column,flex-start,center);
        }
        .hello-buttons{
            .hello-btns{
                .btn-hello,.btn-cta{
                    
                    flex:0 0 auto;
                }
            }
        }
    }
}