@mixin input(){
    border-radius: 100px;
    font-size:16px;
    border:none;
    padding:0.45rem 0.75rem;
    &:focus{
        outline:none;
    }
}

@mixin button($color1,$color2,$color3){
    @include input();
    background:$color2;
    color:$color1;
    box-shadow:0px 4px 0 0 $color3;
    position:relative;
    padding-top:0.55rem;
    text-decoration:none;
    &:active{
        box-shadow:none;
        top:4px;
    }
}

@mixin shadow(){
    box-shadow: 0 3px 4px $gris-dark-50;
}

@mixin flexbox($direction,$justify-content,$align-items){
    display:flex;
    flex-direction:$direction;
    justify-content: $justify-content;
    align-items:$align-items;
}

.d-none{
    display:none !important;
}