//COLORES
$gris-lighter:  #fafbfc;
$gris-light:    #b0b9d1;
$gris:          #7f8db4;
$gris-dark:     #4d5b83;
$gris-dark-50:  #4d5b8388;
$gris-darker:   #303952;
$gris-darker-50:#30395288;

$azul-light:    #96a6ef;
$azul:          #546de5;
$azul-dark:     #1f3dcd;

$morado-light:  #7e72b6;
$morado:        #574b90;
$morado-dark:   #39315e;

$rosa-light:    #fcd6e3;
$rosa:          #f78fb3;
$rosa-dark:     #f24883;

$rojo-light:    #e77b7a;
$rojo:          #dc3a39;
$rojo-dark:     #aa1f1e;

$durazno-light: #f7c3ac;
$durazno:       #f19066;
$durazno-dark:  #eb5d20;

$verde-light:   #7ae7b2;        
$verde:         #39dc8c;
$verde-dark:    #1eaa66;

//BREAKPOINTS
$bp:(
    sm:550px,
    md:768px,
    lg:992px,
    xl:1200px
)

